@model dvd_store_adcw2g1.Models.MembershipCategory

@{
    ViewData["Title"] = "DeleteConfirmed";
}
<div class="container">
    <div class="d-flex flex-wrap" style="margin-bottom: 2%; margin-right: 6%; margin-top: 5%">
        <a asp-action="Index" style="margin-right: 5%"><i class="fas fa-chevron-left" style="font-size:36px"></i></a>
        <h2>Delete Membership Category Details</h2>
    </div>

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>MembershipCategory</h4>
        <hr />
        <dl class="row">
            <dt class = "col-sm-2">
                @*@Html.DisplayNameFor(model => model.MembershipCategoryDescription)*@ Category
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.MembershipCategoryDescription)
            </dd>
            <dt class = "col-sm-2">
                @*@Html.DisplayNameFor(model => model.MembershipCategoryTotalLoans)*@ Total Loans
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.MembershipCategoryTotalLoans)
            </dd>
        </dl>
    
        <form asp-action="DeleteConfirmed">
            <input type="hidden" asp-for="MembershipCategoryNumber" />
            <input type="submit" value="Delete" class="btn" style="background-color: #B61313; color: #fff" /> 
        </form>
    </div>
</div>

